<html>
    <head>
        <meta content='{{ page.title }} - {{ site.title }}' name='title' />
        <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/about.css" type="text/css" media="all">
    </head>
    <body>
        <div id='container'>
            <h1>Liu-Cheng Xu</h1>
            <div id="top">
                <div id="top-left">
                </div>
                <div id="top-right">
                    <img name="name" id="name" src="/assets/img/name_cn.png" alt=""></img>
                    <p>Email: xuliuchengxlc#gmail.com</p>
                </div>
            </div>
            <div class="content">
                    {{ content }}
            </div>
        </div>
    </body>
</html>
